.CreatePostContainer {
    width: 500px;
    height: 400px;
    position: relative;
    /* background-color: #181c1f; */
    border-radius: 8px;
}

.CreatePostContainer button,.CreatePostContainer input {
    width: 80%;
    height: 2.5rem;
    margin: 15px 0px 15px;
    border-radius: 8px;
}

.CreatePostContainer h1 {
    font-size: 2rem;
}