/* Default light theme variables */
:root {
  --primary-main: #ffffff;
  --primary-text: #000000;
  --primary-contrast: #000000;
  --primary-button: #ffffff;
  --primary-highlight: #eeeeee;
  --secondary-main: #f9f9fb;
  --secondary-dark: #000000;
  --secondary-text: #66747b;
  --outline: #eaeaea;
  --header: #48293e;
  --background: rgb(255, 255, 255, 0.6);

  --cat-1: #df191c;
  --cat-2: rgb(160, 5, 160);
  --cat-3: blue;
  --cat-4: rgb(12, 182, 12);
  --cat-5: #66747b;

  --header-height: 3.5rem;

  --background-url: url("../assets/Create_Post_Illustration.png");
}

[data-theme='dark'] {
  --primary-main: #232a32;
  --primary-text: rgba(255, 255, 255, 0.87);
  --primary-contrast: #ffffff;
  --primary-button: #1a1a1a;
  --primary-highlight: #2e373f;
  --secondary-main: #1e252b;
  --secondary-dark: #ffffff;
  --secondary-text: grey;
  --outline: #4b4b4b;
  --header: #48293e;
  --background: #232a32;

  --background-url: url("");
}

/* OVERALL STYLING */



#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    background-color: var(--secondary-main);
    color: var(--primary-text);
}

button {
    background-color: var(--primary-button);
    color: var(--primary-text);
    border-color: var(--secondary-dark);
}

.TextField .MuiInputLabel-root{
    color: var(--secondary-text);
}

.TextField .MuiOutlinedInput-root{
    & fieldset {
        border-color: var(--primary-contrast); /* Default border color */
    }
}

.FormControlSelect .MuiInputLabel-root {
    color: var(--secondary-text);
  }

.Select .MuiOutlinedInput-notchedOutline {
    border-color: var(--primary-contrast);
  }

  a, a:hover{
    color: var(--primary-text);

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;     
}
/* FROM THE TOP DOWN */

/* HEADER COMPONENTS */
.HeaderContainer {
    height: var(--header-height);
    background-color: var(--primary-main);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px;

    border-bottom: 1px solid var(--outline);

    position: sticky;
    top: 0;
    z-index: 10;
}

.MiddleHeader {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
}

.Options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.UserProfilePicture {
    border-radius: 50%;
}

/* MAIN SECTION COMPONENTS */

main {
    min-height: calc(100vh - var(--header-height));
    padding: 0;
    margin: 0;
    display: flex;
}

.MainContainer {
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    margin: 2rem 0px 0px;
    padding: 0;
    background-color: var(--secondary-main);

    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    main {
        margin: 0px 0px 0px;
    }
}

/*  */

.Content {
    width: 85%;
    margin: 0px 2rem 0px 1rem;
    padding: 1rem 2rem 0px;
    background-color: var(--primary-main);

    border: 1px solid var(--outline);
    border-radius: 15px;
}

/* SIDEBAR COMPONENTS */

.SideBar {
    position: sticky;
    top: calc(var(--header-height) + 2rem);
    left: 0;

    width: 15%;
    height: calc(100vh - 60px);
    margin: 0px 1rem 0px 2rem;
    padding: 1rem;

    background-color: var(--primary-main);

    border: 1px solid var(--outline);
    border-radius: 15px;
}

.Category {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin: 0.5rem 0px 0.5rem;
    padding: 0px 0.5rem 0px;

    border-radius: 5px;
}

.Category:hover {
    cursor: pointer;
    background-color: var(--primary-highlight);
}
/* FOOTER COMPONENTS */

.FooterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    border-top: 2px solid #202122;
}

.FooterContainer .SocialsContainer {
    display: flex;
    gap: 5px;
}

.FooterContainer div {
    margin: 0px 30px 0px;
}

.FooterContainer .SocialIcon {
    max-width: 30px;
}

.LogoContainer img {
    max-width: 100px;
}
