.PostsContainer {
    position: relative;
}

.PostBorder {
    border-bottom: 2px solid var(--outline);
}

.Post {
    border-radius: 8px;
    margin: 0.5rem 0px 1rem;
    padding: 0px 1rem 0px;
    box-sizing: border-box;

    display: flex;
    width: 100% - 1rem;
}

.Post .PostText {
    width: 90%;
}

.Post .PostMetadata {
    width: 10%;
}

.Post.Clickable:hover {
    cursor: pointer;
    background-color: var(--primary-highlight);
}

.Post .PostContent {
    color: var(--secondary-text);
}

.Post .AcademicCategory, .Post .AdviceCategory, .Post .AccomodationCategory, .Post .CourseCategory, .Post .MiscellaneousCategory, .Post .MiscCategory {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 20px;
}

.Post .AcademicCategory {
    border: 1px solid var(--cat-1);
    color: var(--cat-1);
}

.Post .AdviceCategory {
    border: 1px solid var(--cat-2);
    color: var(--cat-2);
}

.Post .AccomodationCategory {
    border: 1px solid var(--cat-3);
    color: var(--cat-3);
}

.Post .CourseCategory {
    border: 1px solid var(--cat-4);
    color: var(--cat-4);
}

.Post .MiscellaneousCategory {
    border: 1px solid var(--cat-5);
    color: var(--cat-5);
}

.CommentCount {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* SHOW INDIVIDUAL POST */

.ShowPostContainer {
    position: relative;
    border-bottom: 2px solid gray;
}

.PostOptions {
    display: flex;
    gap: 10px;
}

.CommentsContainer {
    border-radius: 10px;
    padding: 15px 0px 15px;
}

.IndexComments {
    margin: 20px 10px 20px;
}

.ShowPostContainer {
    padding: 15px 20px 15px;
}

.PostTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.EditPostContainer {
    margin: 1rem 0px 1rem;
}

/* CREATE POST PAGE */

.CreatePostContainer {
    width: 500px;
    height: 400px;
    position: relative;
    /* background-color: #181c1f; */
    border-radius: 8px;
}

.CreatePostContainer button,.CreatePostContainer input {
    width: 80%;
    height: 2.5rem;
    margin: 15px 0px 15px;
    border-radius: 8px;
}

.CreatePostContainer h1 {
    font-size: 2rem;
}

/* Old db */
.Post .MiscCategory {
    border: 1px solid var(--cat-5);
    color: var(--cat-5);
}

.SortContainer {
    position: relative;
}

.Select .MuiSelect-select {
    color: var(--primary-text);
}