.ProfileContainer {
    display: flex;
    gap: 10px;
}

.ProfileContainer .UserProfilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Profile Comments */

.CommentBorder {
    border-bottom: 2px solid var(--outline);
}

.Comment.Clickable {
    padding: 0px 1rem 0rem;
    margin: 1rem 0px 1rem;
    border-radius: 10px;
}

.Comment.Clickable:hover {
    cursor: pointer;
    background-color: var(--primary-highlight);
}

.CommentUser {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}